:root{  
    --primaryColor: #00bfff;  
    --secondaryColor: #77c4dd;  
    --lightColor: #187ca3;  
    --bgColor-1: #87cefa;  
    --bgColor-2: #4169e1;  
    --padding: 8%  
}  
*{   
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}  

html{  
    font-family: 'Roboto Slab', serif;  
    font-size: 18px;  
    color:var(--bgColor-2) ;
}  

.home {  
    width: 100%;  
    height: 100vh;  
    background:url(../img/Fond\ De\ Technologie\ Numérique\ De\ Fil\ De\ Maille\ De\ Réseau\ _\ Vecteur\ Gratuite.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: flex;  
    flex-direction: column;
}  
h2{  
    font-size: 1.5rem;  
    letter-spacing: 0.12rem;  
    color: var(--lightColor); 
    height: 10px;
    margin-left: 120px;
    margin-bottom: 7px;

}  
nav{   
    background-color: white;  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
}  
nav ul li{  
    list-style-type: none;  
    display: inline-block;  
    font-size: 20px;  
    margin: 0.8rem 1.5rem;  
}  
nav ul li a {  
    color: var(--lightColor);  
    text-decoration: none;  
    text-transform: capitalize;  
    transition: 0.4s;  
}  
nav ul li a:hover{  
    color: var(--bgColor-2);  
}  
  
.btn{  
    background-color: white;  
    color: var(--bgColor-1);  
    text-decoration: none;  
    font-weight: bold;  
    padding: 0.80rem 1.80rem;  
    border-radius: 30px;  
}  
   
span{  
    color: black;  
}  
h1{  
    color: black;  
    height: 10px;
    text-align: center;
    margin: 5%;
}  
.content {  
    padding: 0 var(--padding);  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    box-sizing: border-box;  
    margin: 5rem;  
    padding: 0;  
}  
p{
    direction: none;
    align-items: center;
    margin: 8%;
    padding: 1%;font-size: 21px;
    font-weight: 600;
    color: black;
    margin: 20px;
    height: 35px;
    text-align: justify;
}
.modified-image{
    width: 80%;
    height: 80%;
    margin-right: 150px;
    margin-left: 910px;
    margin-top: 200px;
}
.modified .text{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rosybrown;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    }
    .custom-button { background-color: var(--lightColor);
        border: none;
         color: white;
          padding: 6px 10px;
           text-align: center;
            text-decoration: none; 
            display: flex;
             font-size: 16px;
              margin: 0px 0px;
               cursor: pointer;
                transition-duration: 0.4s; 
                margin-left: 37%;
                margin-bottom: 5%;
               } 
               .custom-button:hover { background-color: var(--lightColor); }
               @media (min-width: 992px) and (max-width: 1199px) {
                /* CSS pour les écrans entre 992px et 1199px */
               }
            