:root{  
    --primaryColor: #00bfff;  
    --secondaryColor: #77c4dd;  
    --lightColor: #187ca3;  
    --bgColor-1: #87cefa;  
    --bgColor-2: #4169e1;  
    --padding: 8%  
}  
*{   
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
} 
body{
    background: url(../img/4.jpeg);  
}
p{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
h2{
    font-weight: 700;
    font-size: 20px;
    color: var(--lightColor);
    }
    h3{
        font-weight: 700;
        font-size: 15px;
    }
    h1{
        font-size: 15px;
    }